<html>
<head>
    <title>About</title>
</head>
<body>
<h1>About</h1>

<br />&emsp;  The purpose of this database is to track the performance and results of e-sports teams/organizations and players. E-sports is a growing industry that has shown rapid growth over the last several years, and has been getting increasing exposure to the general population via televised news, news articles, online streaming platforms, and word of mouth.
<br />&emsp;  The database will record the performance of players, as well as their team/organization. The game titles the database can cover will be: Counter-Strike: Global Offensive, League of Legends, Overwatch, and Super Smash Bros. Melee, as well as others. For team-based games such as Counter-Strike, Overwatch, and League of Legends, stats such as KDA (kill/death/assist ratio), winrate (on certain heroes/characters/maps), or their equivalent counterpart respective to each game title, will be recorded. The rankings of players/teams for specific tournaments will also be recorded. For 1v1 games such as Super-Smash Bros. Melee, stats such as winrate on character, stage, and tournament placement will be recorded. The database is designed to be flexible enough to track many different game titles.
<br />&emsp;  The database will basically be built upon: game title, team/organization, individual players, and tournament results. Teams/organizations will have teams that possess players who participate in tournaments for a specific game title, and stats will be recorded per player. Teams/organizations can have multiple teams/players across different game titles. For example, one organization can have teams/players across all game titles this database will cover.

<br />
<br />
<img src="../public/images/ERD.jpg">
<br />
<img src="public/images/RS.jpg" />
<br />
<a href="../public/images/ERD.jpg"> ER Diagram</a>
<br />
<a href="../public/images/RS.jpg"> Relational Schema</a>
<br />
<a href="/"><< back</a>


</body>

</html>