<%- include("../includes/header.ejs", {title:"Teams - " + result[0].Team_Name}); %>

<h1>Team:</h1>
<ul>
    <li>Team Name: <%= result[0].Team_Name%></li>
</ul>
<br />
<a href="/team/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
