<%- include("../includes/header.ejs", {title:"Add New Tournament"}); %>


<h1>Add New Tournament</h1>
<form action="/tournaments/insert" method="get">
    Tournament Name: <input id="Tournament_Name" name="Tournament_Name" type="text" /> <br />

    <br />

    Teams Participating
    <select id="team_id" name="team_id" multiple="multiple">
        <% for(var i=0; team.length > i; i++) { %>
        <option value="<%= team[i].team_id%>"><%= team[i].Team_Name%></option>


        <% } %>

    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#team_id').multiselect();
        });
    </script>

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>