<html>
<head>
    <title>Game Title - <%= result[0].Game_Title %></title>
</head>
<body>
<h1>Game Title</h1>
<ul>
    <li>Game Title: <%= result[0].Game_Title%></li>
    <li>Team Based or 1v1: <%= result[0].Team_Based_or_1v1 %></li>
</ul>
<br />
<a href="/gametitle/all"><< back</a>
</body>

</html>